{% extends ':version2:index.html.twig' %}

{% block stylesheets %}
    {% stylesheets
    'css/version2/bootstrap.css'
    'https://fonts.googleapis.com/icon?family=Material+Icons'
    'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic,cyrillic-ext'
    'css/version2/material.min.css'
    'css/version2/new_css.css'
    'css/version2/style.css'
    'css/version2/jquery.bxslider.css'
    'css/version2/bootstrap-material-datetimepicker.css'
    '//ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/base/jquery-ui.css'
    'css/new_modal.css'
    output='css/version2/sc1.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}


{% block javascripts %}

    {% javascripts

    '//code.jquery.com/jquery-2.2.4.min.js'
    'js/version2/material.min.js'
    'js/version2/mobile-detect.js'
    'js/version2/clipboard.min.js'
    'js/version2/getmdl-select.min.js'
    'js/version2/jquery.bxslider.min.js'
    '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'
    '//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js'
    '//momentjs.com/downloads/moment-with-locales.min.js'
    'js/version2/bootstrap-material-datetimepicker.js'

    '//code.jquery.com/ui/1.12.1/jquery-ui.min.js'
    'js/jquery.maskedinput.min.js'
    'js/ol.js'
    'js/ol3gm.js'
    'https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyA5UC7HmZcSpXpGmdn8JYrrnn-kz4XF22g'
    'js/version2/main.js'
    'js/version2/app.js'
    'js/new_modal.js'


    output='js/version2/sc22.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function () {

            $('#orenda_doc_type_reviewDate').mask("99/99/9999");
            $('#orenda_doc_type_entryToLessorDate').mask("99/99/9999");
            $('#orenda_doc_type_entryToCommisDate').mask("99/99/9999");
            $('#orenda_doc_type_announcementDate').mask("99/99/9999");
            $('#orenda_doc_type_valuationDate').mask("99/99/9999");
        });
    </script>
{% endblock %}

{% block body -%}
    <body>
    <div class="head_block">
        <div class="menu_button">
            <button class="mdl-button mdl-js-button mdl-button--icon filter_list open_menu_but">
                <i class="material-icons">menu</i>
            </button>

        </div>
    </div>
    <div class="head_block_logo">
        <a href="#" class="company_logo">
            <img src="/img/nsci1.png" alt="logo"> {{'НIГД'|trans }}
        </a>
    </div>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50 is-visible left_menu_open"
         aria-hidden="false">
        <span class="mdl-layout-title brand">
               <a href="#" class="company_logo">
                   <img src="/img/nsci1.png" alt="logo"> {{'НIГД'|trans }}
               </a>
               <button class="mdl-button mdl-js-button mdl-button--icon  open_menu_but">
                   <i class="material-icons">keyboard_arrow_left</i>
               </button>
        </span>

                             {#Тултіпи для шарів#}
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="orto10000">
            {{'Ортофотоплани'|trans}} {{'масштабу'|trans}} 1:10000, {{'які створені в рамках проекту світового банку'|trans}}
        </div>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="orto2000">
            {{'Ортофотоплани'|trans}} {{'масштабу'|trans}} 1:2000, {{'які створені в рамках проекту світового банку'|trans}}
        </div>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="gryntSidebar">
            {{'Карта грунтів України'|trans}}
        </div>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="vectorVinSidebar">
            {{'Векторна карта'|trans}} {{'масштабу'|trans}} 1:10000
        </div>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="vinOrtoSidebar">
           {{'Ортофотоплан'|trans}} {{'масштабу'|trans}} 1:2000 {{'на м. Вінниця'|trans}}
        </div>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="topoVinSidebar">
            {{'Топографічна карта'|trans}} {{'масштабу'|trans}} 1:10000
        </div>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="topoVinSidebar">
            {{'Топографічна карта'|trans}} {{'масштабу'|trans}} 1:10000
        </div>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="parcelSidebar">
            {{'Земельні ділянки'|trans}} ({{'Публічна кадастрова карта'|trans}})
        </div>
                            {#Тултіпи для шарів(end)#}
        <div class="layersAll">
            <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
                <div class="level_menu">
                    <a class="mdl-navigation__link mdl-navigation__level1 " href="#">
                        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">terrain</i>{{'Аерофотознімання'|trans}}</a>

                    <div class="mdl-navigation__level2">
                        <a id='orto10000' class="mdl-navigation__link legend-tooltip mdl-navigation__level3" href="#orto10000sidebar">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flip_to_back</i>{{'Ортофотоплан'|trans}}, 2006 (М 1:10000)
                            <i id='orto10000sidebarInfo' class="mdl-color-text--blue-grey-400 material-icons info-sidebar" role="presentation">info</i>
                            <div id="slider_orto10000sidebar"></div>

                        </a>
                        <div class="tooltip-info">
                            <a href="http://map.land.gov.ua/kadastrova-karta" target="_blank">{{'Публічна кадастрова карта'|trans}}</a><br>
                            <i id="insert_sidebar_buffer" class="mdl-color-text--blue-grey-400 material-icons buffer"  data-clipboard-text="http://map.land.gov.ua/kadastrova-karta" role="presentation">insert_link</i>
                            <div  class="mdl-tooltip main_mdl-tooltip" data-mdl-for="insert_sidebar_buffer">
                                {{'Скопіювати в буфер'|trans}}
                            </div>
                        </div>

                        <a id='orto2000' class="mdl-navigation__link legend-tooltip mdl-navigation__level3" href="#orto2000sidebar">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flip_to_back</i>{{'Ортофотоплан'|trans}}, 2010 (М 1:2000)
                            <i id='orto2000sidebarInfo' class="mdl-color-text--blue-grey-400 material-icons info-sidebar" role="presentation">info</i>
                        </a>
                    </div>
                </div>
                <div class="level_menu">
                    <a class="mdl-navigation__link mdl-navigation__level1 " href="#">
                        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">terrain</i>{{'Тематичні карти'|trans}}</a>

                    <div class="mdl-navigation__level2">
                        <a class="mdl-navigation__link legend-tooltip mdl-navigation__level3" href="#dynamicSidebar">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flip_to_back</i>{{'Динамічна карта'|trans}} ({{'Україна'|trans}})
                            <i id='dynamicSidebarInfo' class="mdl-color-text--blue-grey-400 material-icons info-sidebar" role="presentation">info</i>
                        </a>
                        <a id='gryntSidebar' class="mdl-navigation__link legend-tooltip mdl-navigation__level3" href="#gryntSidebar">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flip_to_back</i>{{'Грунти'|trans}}
                            <i id='gryntSidebarInfo' class="mdl-color-text--blue-grey-400 material-icons info-sidebar" role="presentation">info</i>
                        </a>
                        <div class="tooltip-info">
                            <a href="http://map.land.gov.ua/kadastrova-karta" target="_blank">{{'Публічна кадастрова карта'|trans}}</a><br>
                            <i id="insert_sidebar_buffer2" class="mdl-color-text--blue-grey-400 material-icons buffer"  data-clipboard-text="http://map.land.gov.ua/kadastrova-karta" role="presentation">insert_link</i>
                            <div  class="mdl-tooltip main_mdl-tooltip" data-mdl-for="insert_sidebar_buffer2">
                                {{'Скопіювати в буфер'|trans}}
                            </div>
                        </div>
                        <a id='razgrafkaSidebar' class="mdl-navigation__link legend-tooltip mdl-navigation__level3" href="#razgrafkaSidebar">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flip_to_back</i>{{'Разграфка'|trans}} ({{'Україна'|trans}} 1942)
                            <i id='razgrafkaSidebarInfo' class="mdl-color-text--blue-grey-400 material-icons info-sidebar" role="presentation">info</i>
                        </a>
                    </div>
                </div>


                <div class="level_menu">
                    <a class="mdl-navigation__link mdl-navigation__level1 " href="#">
                        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">location_city</i>{{'Вінниця'|trans}}</a>
                    <div class="mdl-navigation__level2">
                        <a id="vectorVinSidebar" class="mdl-navigation__link legend-tooltip mdl-navigation__level3" href="#vectorVinSidebar">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">layers</i>{{'Векторна карта'|trans}}
                            <i id='vectorVinSidebarInfo' class="mdl-color-text--blue-grey-400 material-icons info-sidebar" role="presentation">info</i>
                        </a>
                        <a id="vinOrtoSidebar" class="mdl-navigation__link legend-tooltip mdl-navigation__level3" href="#vinOrtoSidebar">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">layers</i>{{'Ортофотоплан'|trans}} 
                            <i id='vinOrtoSidebarInfo' class="mdl-color-text--blue-grey-400 material-icons info-sidebar" role="presentation">info</i>
                            <div id="slider_vinOrtoSidebar"></div>
                        </a>
                        <a id='topoVinSidebar' class="mdl-navigation__link legend-tooltip mdl-navigation__level3" href="#topoVinSidebar">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">layers</i>{{'Топографічна карта'|trans}}
                            <i id='topoVinSidebarInfo' class="mdl-color-text--blue-grey-400 material-icons info-sidebar" role="presentation">info</i>
                            <div id="slider_topoVinSidebar"></div>
                        </a>
                        <a id='boundVinSidebar' class="mdl-navigation__link legend-tooltip mdl-navigation__level3" href="#boundVinSidebar">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">layers</i>{{'Адміністративний кордон'|trans}}
                            <i id='boundVinSidebarInfo' class="mdl-color-text--blue-grey-400 material-icons info-sidebar" role="presentation">info</i>
                            <div id="slider_topoVinSidebar"></div>
                        </a>
                        <a id='hydroVinSidebar' class="mdl-navigation__link legend-tooltip mdl-navigation__level3" href="#hydroVinSidebar">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">layers</i>{{'Гідрографія'|trans}}
                            <i id='boundVinSidebarInfo' class="mdl-color-text--blue-grey-400 material-icons info-sidebar" role="presentation">info</i>
                            <div id="slider_hydroVinSidebar"></div>
                        </a>
                    </div>
                </div>
                <div class="level_menu">
                    <a class="mdl-navigation__link mdl-navigation__level1 " href="#">
                        <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">terrain</i>{{'Земля'|trans}}</a>

                    <div class="mdl-navigation__level2">
                        <a id='parcelSidebar' class="mdl-navigation__link legend-tooltip mdl-navigation__level3" href="#parcelSidebar">
                            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flip_to_back</i>{{'Кадастровий поділ'|trans}}
                            <i id='parcelSidebarInfo' class="mdl-color-text--blue-grey-400 material-icons info-sidebar" role="presentation">info</i>
                        </a>
                        <div class="tooltip-info">
                            <a href="http://map.land.gov.ua/kadastrova-karta" target="_blank">Публічна кадастрова карта</a><br>
                            <i id="insert_sidebar_buffer3" class="mdl-color-text--blue-grey-400 material-icons buffer"  data-clipboard-text="http://map.land.gov.ua/kadastrova-karta" role="presentation">insert_link</i>
                            <div  class="mdl-tooltip main_mdl-tooltip" data-mdl-for="insert_sidebar_buffer3">
                                Скопіювати в буфер
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="bid_list">
            <div class="bid_list_container">
                <div class="bid_list_button">
                    <i class="material-icons">keyboard_arrow_up</i>
                </div>
                <div class="bid_list-content-fix">
                    <div class="bid_list-content">
                        <div class="zoomOff">
                            <label class="mdl-checkbox mdl-js-checkbox" for="checkbox-zoom">
                                <span class="mdl-checkbox__label">{{'Відображати зум'|trans}}</span>
                                <input type="checkbox" id="checkbox-zoom" class="mdl-checkbox__input" checked>
                            </label>
                        </div>
                        <div class="centerOff">
                            <label class="mdl-checkbox mdl-js-checkbox" for="map-сenter">
                                <span class="mdl-checkbox__label">{{'Відображати центр карти'|trans}}</span>
                                <input type="checkbox" id="map-сenter" class="mdl-checkbox__input" checked>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bid_list-footer">
                <a href="#" class="btn">{{'НАЛАШТУВАННЯ'|trans}}</a>
            </div>
        </div>
    </div>
    </div>

    <div id="snackbar_container" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>


    <div class="right_menu close">
        <div class="right_menu_container">
            <div class="right_menu_button">
                <i class="material-icons">chevron_right</i>
            </div>

            <div class='info'>
                <div class="info-slider" id="information">

                </div>
            </div>

            <div class="right_menu_footer-block">
                <div class="control_bttons">
                    {#  <button class=" mdl-button mdl-js-button mdl-js-ripple-effect btn-add">СТВОРИТИ ЗАЯВКУ</button>#}
                    <div class="control_i">
                        <button class="mdl-button mdl-js-button mdl-button--icon filter_list btn">
                            <i class="material-icons">sms_failed</i>
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--icon filter_list btn">
                            <i class="material-icons">share</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="edit_buttons left_menu_open">

        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color"    id="main_tt4">

            <i class="material-icons">near_me</i>
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="main_tt4">
            {{'Поточна'|trans}}
        </div>
        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color measure" id="length">
            <img src="/img/ruler_nsci.png" class="no_active"><img
                    src="/img/ruler_nsci_active.png" class="is_active">
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="length">
            {{'Відстань'|trans}}
        </div>
        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color measure" id="area">
            <img src="/img/area_nsci1.png" class="no_active"><img
                    src="/img/area_nsci1_active.png" class="is_active">
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="area">
            {{'Площа'|trans}}
        </div>
        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color measure" id="erase">
            <img src="/img/delete_nsci.png" class="no_active"><img src="/img/delete_nsci_active.png"
                                                                   class="is_active">
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="erase">
           {{'Очистити'|trans}}
        </div>
        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color" id="main_tt7">
            <i class="material-icons"> help_outline</i>
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="main_tt7">
            {{'Допомога'|trans}}
        </div>
        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color" id="save_map_url">
            <i class="material-icons">add_to_photos</i>
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="save_map_url">
            {{'Зберегти налаштування'|trans}}
        </div>
       {# <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color" id="main_tt7">
            <i class="material-icons">room</i>
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="main_tt7">
            Мітка
        </div>#}



        <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color" id="main_tt9">
            <i class="material-icons">print</i>
        </button>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="main_tt9">
            {{'Роздрукувати карту'|trans}}
        </div>
    </div>

    <div class="osm-copyright">©<a target="_blank" href="http://www.openstreetmap.org/copyright">{{'Участники'|trans}} 
            OpenStreetMap</a></div>

    <div class="map_mode_select left_menu_open">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height ">

            <input class="mdl-textfield__input " type="text" id="map_mode" readonly tabIndex="-1"
                   value="{{ 'Оглядова карта України'|trans|raw }}">
            <label for="map_mode">
                <i class="mdl-icon-toggle__label material-icons">arrow_drop_down</i>
            </label>
            <ul for="map_mode" class="mdl-menu mdl-menu--bottom-left mdl-js-menu ">

                <li id="viewMap" class="mdl-menu__item" data-val="pub">{{ 'Оглядова карта України'|trans|raw }}
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>
                </li>
                <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="viewMap">
                    {{ 'Оглядова карта України'|trans|raw }} {{'масштабу'|trans}} 1:100000
                </div>
                <li id='orto10000base' class="mdl-menu__item" data-val="kiev2006">{{ 'Ортофотоплани'|trans|raw }}, 2006
                    <i id='orto10000baseInfo' class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>
                    <div class="tooltip-info">
                        <a href="http://map.land.gov.ua/kadastrova-karta" target="_blank">Публічна кадастрова карта</a><br>
                        <i id="insert_buffer2" class="mdl-color-text--blue-grey-400 material-icons buffer"  data-clipboard-text="http://map.land.gov.ua/kadastrova-karta" role="presentation">insert_link</i>
                        <div  class="mdl-tooltip main_mdl-tooltip" data-mdl-for="insert_buffer2">
                            Скопіювати в буфер
                        </div>
                    </div>
                </li>

                <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="orto10000base">
                    {{'Ортофотоплани'|trans}} {{'масштабу'|trans}} 1:10000, {{'які створені в рамках проекту світового банку'|trans}}
                </div>
                <li id='orto2000base' class="mdl-menu__item" data-val="vin2015">{{'Ортофотоплани'|trans}}, 2015
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>
                </li>
                <div  class="mdl-tooltip main_mdl-tooltip" data-mdl-for="orto2000base">
                    {{'Ортофотоплани'|trans}} {{'масштабу'|trans}} 1:2000
                </div>
                <li id='topoVin' class="mdl-menu__item" data-val="topoVin">{{'Топографічна карта'|trans}}
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>
                </li>
                <div  class="mdl-tooltip main_mdl-tooltip" data-mdl-for="topoVin">
                     {{'Топографічна карта'|trans}} {{'масштабу'|trans}} 1:2000
                </div>
                <hr>


                <li id='osmBase' class="mdl-menu__item" data-clipboard-text="https://www.openstreetmap.org/" data-clipboard-text="https://www.openstreetmap.org/" data-val="osm">Open Street Map
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>
                    <div id='orto10000baseInfoTooltip' class="tooltip-info">
                        <a id='bufferOSM' href="https://www.openstreetmap.org/" target="_blank">Open Street Map</a><br>
                        <i id="insert_buffer" class="mdl-color-text--blue-grey-400 material-icons buffer"  data-clipboard-text="https://www.openstreetmap.org/" role="presentation">insert_link</i>
                        <div  class="mdl-tooltip main_mdl-tooltip" data-mdl-for="insert_buffer">
                            {{'Скопіювати в буфер'|trans}}
                        </div>
                    </div>
                </li>
                <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="osmBase">
                    {{'Веб-картографічний проект по створенню детальної, вільної і безкоштовної географічної карти світу'|trans}}
                </div>
                <li id='osmCycle' class="mdl-menu__item" data-val="OpenCycleMap">Open Street Cycle Map
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>
                    <div class="tooltip-info">
                        <a href="https://www.openstreetmap.org/#layers=C" target="_blank">Open Street Cycle Map</a><br>
                        <i id="insert_buffer1" class="mdl-color-text--blue-grey-400 material-icons buffer"  data-clipboard-text="https://www.openstreetmap.org/#layers=C" role="presentation">insert_link</i>
                        <div  class="mdl-tooltip main_mdl-tooltip" data-mdl-for="insert_buffer1">
                            {{'Скопіювати в буфер'|trans}}
                        </div>
                    </div>
                </li>
                <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="osmCycle">
                    {{'Веб-картографічний проект по створенню детальної, вільної і безкоштовної географічної карти світу'|trans}}
                </div>
                <li id='googleSatelit'class="mdl-menu__item" data-val="google">Google Satellite
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>
                    <div class="tooltip-info">
                        <a href="https://www.google.com.ua/maps/@49.2326973,28.4969277,13683m/data=!3m1!1e3" target="_blank">Google Satellite</a><br>
                        <i id="insert_buffer3" class="mdl-color-text--blue-grey-400 material-icons buffer"  data-clipboard-text="https://www.google.com.ua/maps" role="presentation">insert_link</i>
                        <div  class="mdl-tooltip main_mdl-tooltip" data-mdl-for="insert_buffer3">
                            {{'Скопіювати в буфер'|trans}}
                        </div>
                    </div>
                </li>
                <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="googleSatelit">
                    {{'Набір додатків, побудованих на основі безкоштовного картографічного сервісу і технологій, які надає компанія Google.'|trans}}
                </div>
                <li id='googleHybrid'class="mdl-menu__item" data-val="googlehybrid">Google Hybryd
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>
                    <div class="tooltip-info">
                        <a href="https://www.google.com.ua/maps/@49.2326973,28.4969277,13683m" target="_blank">Google Hybrid</a><br>
                        <i id="insert_buffer4" class="mdl-color-text--blue-grey-400 material-icons buffer"  data-clipboard-text="https://www.google.com.ua/maps" role="presentation">insert_link</i>
                        <div  class="mdl-tooltip main_mdl-tooltip" data-mdl-for="insert_buffer4">
                            {{'Скопіювати в буфер'|trans}}
                        </div>
                    </div>
                </li>
                <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="googleHybrid">
                    {{'Набір додатків, побудованих на основі безкоштовного картографічного сервісу і технологій, які надає компанія Google.'|trans}}
                </div>
                <hr>
                <li id='emptyLayerR'class="mdl-menu__item" data-val="emptyRelief">{{'Порожній шар (рельєф)'|trans}}
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>
                </li>
                <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="emptyLayerR">
                    {{'Базовий шар рельєфу'|trans}}
                </div>
                <li id='emptyLayer'class="mdl-menu__item" data-val="emptyLayer">{{'Порожній шар'|trans}}
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">info</i>
                </li>
                <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="emptyLayer">
                    {{'Базовий порожній шар'|trans}}
                </div>
            </ul>
        </div>
        <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="map_mode">
            {{'Обрати підоснову'|trans}}
        </div>
    </div>

    <div class="new_legend">
            <span class="new_legent_title">
            </span>
        <img src="">
    </div>
    <div right_container>
        <div class="main_search_container ">
            <div class="main_search_block">
                <i class="material-icons clear_icon main_clear_block_button">clear</i>
                <input type="text" placeholder="{{'Пошук'|trans}}" id="main_search_input">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab bg_white mdl-js-ripple-effect btn_small search_block_button main_search_block_button"
                        id="main_tt8">
                    <i class="material-icons">search</i>
                </button>
                <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="main_tt8">
                    {{'Пошук'|trans}}
                </div>
            </div>
        </div>
        <div class="account_container ">
            <div class="account_block">
                <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color" id="main_tt10">
                    <i class="material-icons">account_circle</i>
                </button>
                <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="main_tt10">
                    {{'Авторизуватись'|trans}}
                </div>
            </div>
        </div>
        <div class="language_container ">
            
            <div class="language_block">
                {% if app.request.getLocale() == 'uk' %}
                <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color" id="main_tt11">
                    <i class="material-icons">UA</i>
                </button>
                <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="main_tt11">
                    Українською
                </div>
                {% else %}
                <button class="mdl-button mdl-js-button mdl-button--icon btn_theme_hover_color" id="main_tt11">
                    <i class="material-icons">EN</i>
                </button>
                <div class="mdl-tooltip main_mdl-tooltip" data-mdl-for="main_tt11">
                    English
                </div>                    
                {% endif %}
            </div>
        </div>
    </div>
    <div class="coordinate  left_menu_open">
       X:<span class="x"></span>,
       Y:<span class="y"></span>
    </div>
    <i class="mdl-color-text--blue-grey-400 material-icons map-center" role="presentation">add</i></a>
    {% include '@version2/modal/help.html.twig' %}
    {% include '@version2/modal/copy.html.twig' %}
    <div id="mapView" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%;">

    </div>
    <div id="scale-line" class="scale-line left_menu_open"></div>
    <i id="location" class="material-icons">gps_fixed</i>

    </body>

{% endblock body %}
